body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav.nav-left a,
.auth-buttons a,
.language-selector label,
.language-selector select {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

nav.nav-left a {
    margin-right: auto;
}

.auth-buttons a {
    margin-left: 10px;
}

.language-selector select {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

nav.nav-left a:hover,
.auth-buttons a:hover,
.language-selector select:hover {
    color: #aaa;
}

main {
    padding: 20px;
}

main h2 {
    color: #333;
}

article {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.auth-buttons a {
    color: white;
    background-color: #333;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 3px;
}

.auth-buttons a:hover {
    background-color: #555;
}

/* Styles for the profile link */
#profile-btn, #logout-btn {
    color: white;
    background-color: #333;
    padding: 10px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 3px;
}

#profile-btn:hover, #logout-btn:hover {
    background-color: #555;
}