body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header .nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.header .nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 80px auto 0; /* Adjust margin-top to make space for the fixed header */
    padding: 20px;
}

.news-article {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

.news-title {
    font-size: 24px;
    margin-top: 0;
}

.news-content {
    font-size: 18px;
}

.news-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
.edit-button, .delete-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.delete-button {
    background-color: #dc3545;
}

.edit-button:hover, .delete-button:hover {
    opacity: 0.8;
}

